@import 'color.scss';
@import 'fonts.scss';
@import 'mixins.scss';


.center{
	width:100%;
	height:600px;
	display:flex;
	justify-content:center;
	align-self:center;
	&__column{
		width:15%;
		display:flex;
		flex-direction:column;
		justify-content:center;
	}
	&__button{
		width:120px;
		height:30px;
		background:transparent;
		font-family:$staticText;
		color:$elements;
		margin:10px auto;
		border: 2px solid $elements;
		&:hover{
			background:$elements;
			color:$Light
		}
		
	}
	&__title{
		font-family:$textMenu;
		color:$elements;
		margin:10px auto;
	}
	&__text{
		margin:10px auto;
		font-family:$staticText;
	}
}